    .card {
      border: none;
      background-color: transparent;
      text-align: center;
    }
    .card-body {
      text-align: center;
    }
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .card-container .card {
      flex: 1 0 calc(12.5% - 20px); /* 8 cards per row with equal spacing */
      margin: 10px;
    }
    .containe{
    padding: 10px;
    border: 1px solid #f0eded;
    border-radius: 5px;
    background-color: #f1e8e8;
    margin-right: 10px;
    margin-bottom: 10px;

}

.card-container .card {
  flex: 1 0 calc(12.5% - 20px); /* 8 cards per row with equal spacing */
  margin: 10px; /* Adjust as needed for spacing */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for scaling and shadow */
}

.card-container .card:hover {
  transform: scale(1.05); /* Scale the image on hover */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Add shadow on hover */
}

.card-img-top {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  background-color: transparent;
  margin: auto;
  transition: transform 0.3s ease; /* Transition for image */
}

.card-container .card:hover .card-img-top {
  transform: scale(1.1); /* Slightly enlarge the image on hover */
}
